.App {
  text-align: center;
}
.head {
  color: rgb(86, 86, 118);
}
hr {
  width: 7rem;
  font-weight: bold;
  color: rgb(235, 138, 12);
}
nav ul {
  display: flex;
  justify-content: center;
}
.line1,
.line2,
.line3 {
  width: 27px;
  height: 3px;
  background-color: #000;
  margin: 0.4rem;
  cursor: pointer;
}
.bar {
  padding: 2rem 0;

  cursor: pointer;
  display: none;
  margin-left: 1.2rem;
}
.line1:hover,
.line2:hover,
.line3:hover {
  width: 35px;
  background-color: green;
  margin: 0.4rem;
}
button {
  cursor: pointer;
  color: rgb(216, 135, 29);
  font-weight: 500;
  border: none;
  background: none;
  border-radius: 0.3rem;
}
button:hover {
  color: green;
}

button:focus {
  outline: 0;
}
.price {
  color: rgb(216, 135, 29);
}
.second {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  border-bottom: 1px dotted black;
}
.food {
  list-style: none;
}
.menu {
  width: 300px;
  height: 400px;
}
.image {
  border: 5px solid rgb(216, 135, 29);
  border-radius: 5px;
  width: 300px;
  height: 200px;
}
.para {
  font-size: 15px;
}

p:first-child {
  margin-bottom: 1rem;
}
.error {
  border-color: red;
}
.color {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
}
input {
  border-radius: 5px;
  padding: 0.5rem;
}
input:focus {
  outline: 0;
}
.alert-sucess,
.alert-danger {
  font-size: 15px;
  padding: 0.2rem;
  color: #fff;
  background: green;
  width: 50%;
  margin: auto;
  border-radius: 5px;
}
.alert-danger {
  background: rgb(128, 17, 17);
}
.main {
  margin: 1rem 0;
  text-align: left;
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
.sect {
  width: 20%;
}
.aside {
  width: 50%;
  margin-left: 3rem;
  margin-top: 0;
  padding-top: 0;
}
h5 {
  color: #2fa5bd;
  font-weight: 500;
  cursor: pointer;
  border-right: 1px solid #cdd0d1;
  margin: 0rem;
  padding: 0.8rem;
  display: block;
}
h5:hover {
  color: black;
  border: 1px solid #cdd0d1;
  border-radius: 0.2rem;
  border-right: none;
}
.observess {
  color: black;
  border: 1px solid #cdd0d1;
  border-radius: 0.2rem;
  border-right: none;
}

nav {
  background: #ebf3f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}
.icon {
  border: 2px solid gray;
  border-radius: 50%;
  padding: 0.9rem;
  margin-bottom: 0.5rem;
  color: #999fa1;
  width: 1rem;
  height: 1rem;
}
a {
  color: #2fa5bd;
  text-decoration: none;
  font-size: 0.7rem;
  margin-bottom: none;
}
.para {
  margin: 0;
  font-size: 0.7rem;
  color: #999fa1;
}
.i {
  font-family: "Niconne", cursive;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid gray;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  text-align: center;
}
.modal {
  background: rgb(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  color: white;
}
.head-weather {
  padding-bottom: 0;
  margin-bottom: 0;
}

.bot-weather {
  padding-top: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: -30px;
}
.card {
  padding: 0.8rem;
  width: 50%;
  border-radius: 0.5rem;
  margin: 9rem auto;
}

.keys-wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 12rem;
  height: 15rem;
}
.left-wrapper {
  display: flex;
  height: 15rem;
  flex-wrap: wrap;
}
.calc-button,
.calc-signs,
.clear,
.result {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(233, 231, 231);
  height: 3rem;
  width: 3rem;
  color: #000;
  outline: 0.1rem solid gray;
}
.calc-button:hover,
.calc-signs:hover,
.clear:hover {
  background: rgb(43, 42, 42);
  color: white;
}
.calc-signs {
  background-color: rgb(243, 119, 73);
}
.clear {
  width: 6rem;
}
.result {
  width: 12rem;
  height: 3rem;
  outline: 0.9px solid gray;
}
.result {
  pointer-events: none;
  border: none;
}
@media only screen and (max-width: 768px) {
  .bar {
    display: block;
  }
  .main-nav {
    display: none;
  }
  .fist {
    display: flex;
  }
  .white {
    color: #fff;
  }
  .main {
    width: 100%;
    overflow-x: hidden;
  }

  .aside {
    width: 100%;
    text-align: left;
    margin: 1rem -1rem;
    margin-right: 2rem;
  }
  h5 {
    transform: translateX(-200%);
    transition: transform 0.5s ease-in;
    border: none;
  }
  .card {
    width: 80%;
  }
}
.shows {
  /* padding: 0 1rem; */
  width: 100%;
  transform: translateX(5%);
  z-index: 1;
  background: #ebf3f5;
}
@media screen and (min-width: 769px) {
}

/* @media screen and (max-width: 768px) {
  .food {
    width: 50%;
  }
  .food li {
   
    display: flex;
    flex-direction: column;
  }

  .second {
    margin-right: 5rem;
   
  }
} */
